* {
    margin: 0;
    padding: 0;
}



header, footer {
    height: 20vh;
}

header {
    background-color: #8D8484;
}

footer {
    background-color: #BDBDBD;
}

main {
    display: flex;
}

.content {
    width: 73vw;
    display: flex;
    flex-direction: column;
}

section {
    height: 20vh;
}

.content1 {
    background-color: #776969;
}

.content2 {
    background-color: #643030;
}

.content3 {
    background-color: #441818;
}

.sidebars {
    width: 27vw;
    display: flex;
    flex-direction: column;
}

.spam1 {
    background-color: #937575;
    height: 30vh;
}

.spam2 {
    background-color: #644C4C;
    height: 30vh;
}
header p{
    justify-content: center;
    display: flex;
    padding: 8vh;
    font-family: 'Inter',sans-serif ;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;

}
section p{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: white;
    justify-content: center;
    display: flex;
    padding: 8vh;
}
footer p {
    justify-content: center;
    display: flex;
    padding: 8vh;
    font-family: 'Inter',sans-serif ;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;

}
aside p {
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: white;
    justify-content: center;
    display: flex;
    padding: 13vh;
}